
* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url(img/Achtergrond.avif);
    font-family: sans-serif;
}


h1 {
    padding: 10px;
    background-color: #1c1c1c;
    color: #EDEADE;
    text-align: center;
    margin: 25px;
    border-radius: 5px;
}


ul {
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}


.collage {
    text-align: center;
    margin: 10px;
}

h2 {
    text-align: center;
    margin: 25px;
}

p {
    text-align: center;
}


img {
    justify-content: left;
    margin: 75px;
    margin-top: 20px;
    max-width: 30vw;
}


a {
    color: #1c1c1c;
}


.container {
    display: flex;
    align-items: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1c1c1c;
    color: #EDEADE;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #383838;
    transform: scale(1.05);
    color: #afeeee;
}

.button:focus {
    outline: 2px solid #EDEADE;
}


.text {
    background-color: #1c1c1c;
    color: #EDEADE;
    border-radius: 10px;
}

.voorkant {
    background-color: #1c1c1c;
    color: #EDEADE;
    padding: 10px;
    border-radius: 10px;
}


footer {
    background-color: #1c1c1c;
    color: #EDEADE;
    border-radius: 10px;
}
